<form action="/records" method="POST">
  <input type="text" placeholder="name" name="name">


  <input id="number" placeholder="amount" name="amount" type="number">

  <input id="date" name="date" placeholder="date" type="date">

  <input type="text" placeholder="category" name="category">


  <button type="submit">Create</button>
</form>